header {
    height: 100px;
}

.logo {
    text-decoration: none;
    font-style: normal;
    font-size: 24px;
    line-height: 28.8px;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    color: #080305;
    font-family: Inter;
}

.butt {
    position: static;
}

.headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
}

li {
    list-style-type: none;
}


.sing {
    background-color: #a7313d;
    color: white;
    width: 145px;
    height: 50px;
    border-style: solid;
    border: 0px;
    padding: 14px 43px 14px 23px;
    letter-spacing: -0.02em;
    margin-right: 16px;
    font-family: Inter;
}

.log {
    width: 145px;
    height: 50px;
    border: 1px;
    border-style: solid;
    border-color: #ffcad0;
    background-color: white;
    padding: 14px 49.5px 14px 49.5px;
    color: #121212;
    letter-spacing: -0.02em;
    text-align: left;
    font-family: Inter;
}

.logs {
    width: 160px;
    height: 50px;
    border-style: solid;
    border: 0px;
    background-color: white;
    padding: 14px 20px 14px 20px;
    color: #121212;
    letter-spacing: -0.02em;
    text-align: left;
    margin-right: 16px;
    font-family: Inter;
}

@media (max-width: 740px) {
    .log {
        display: none;
    }

    /* .butt {
        display: inline-block;
        padding-left: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 18px;
    } */

    /* .headers {
        flex-direction: column;
    } */
}
@media (max-width: 582px) {
    .butt {
        display: inline-block;
        padding-left: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 18px;
    } 

    .headers {
        flex-direction: column;
    }
}

@media (max-width:480px) {
    .headers {
        flex-direction: column;
    }

    .logo {
        margin-top: 7px;
        margin-left: -7px;
    }
    .logos{
        margin-left: -4px;
    }

    .butt {
        margin-left: auto;
        padding-left: -36px;
        margin-right: 55px;
        margin-left: auto;
        padding-left: -36px;
        margin-right: 55px;
    }
    ul{
        margin-top: 0px;
    }
}