connect {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: auto;
}

.fourth_block {
    margin-bottom: 100px;
}

.fourth_img {
    width: 399px;
    height: 400px;
}

.fourth_txt {
    width: 700px;
    margin: 94px;
}

.name_block {
    font-family: Inter;
    width: 555px;
    margin-left: auto;
    margin-right: auto;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.03em;
    color: #121212;
}

.cardtxt {
    font-family: Inter;
}

@media (max-width: 1334px) {
    .connect {
        width: 1000px;

    }
}

@media (max-width: 1132px) {
    .fourth_txt {
        margin-right: 0px;
        margin-left: 20px;
    }
}

@media (max-width: 1021px) {
    .connect {
        width: 600px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 978px) {
    .connect {
        flex-direction: column;
        width: 506px;
    }

    .fourth_img {
        width: 400px;
        height: 400px;
        gap: 10px;
        margin-left: auto;
        margin-right: auto;

    }

    .fourth_txt {
        width: 506.4px;
        margin-top: 15px;
    }

    .fourth_block {
        margin-left: auto;
        margin-right: auto;
        width: 506.4px;
         margin-bottom: 0px;
    }

    .name_block {
        width: 506.4px;
        font-size: 31px;
        margin-left: 0px;
        margin-bottom: 0px;
    }

}

@media (max-width: 596px) {
    .connect {
        width: 360px;
    }

    .fourth_txt {
        width: 360px;
        margin-top: 15px;
    }

    .fourth_block {
        margin-left: auto;
        margin-right: auto;
        width: 360px;

    }

    .name_block {
        width: 360px;
    }

}

@media (max-width: 518px) {
    .name_blok {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .cardtxt {
        width: 84%;
    }

    .fourth_img {
        object-fit: cover;
        width: 315px;
        height: 291px;
    }
}