.second_block {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1051px;
    height: 274.46px;
    gap: 32px;
    opacity: 0px;
    margin-left: auto;
    margin-right: auto;
}

.ava {
    width: 59.46px;
    height: 59.46px;
    gap: 0px;
    opacity: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50% 50% 50% 50%;
}

.marks {
    width: 58px;
    height: 44px;
    margin-top: 30px;
    margin-left: 30px;

}

.name_blok1 {
    width: 1051px;
    height: 96px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.03em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.text_blok {
    height: 28px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 32px 0 0 0;

}

.text_min {
    margin-top: 3px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #707070;

}

@media (max-width:1030px) {
    .name_blok1 {
        width: 863px;
        margin-left: auto;
        margin-right: auto;
    }

    .second_block {
        width: 100%;
    }
}
@media (max-width:1035px) {
    .name_blok1{
        font-size: 33px;
    }
}
@media (max-width:861px) {
    .name_blok1 {
        width: 742px;
        font-size: 26px;
    }
}

@media (max-width:758px) {
    .name_blok1 {
        width: 529px;
        font-size: 21px;
    }
}

@media (max-width:532px) {
    .name_blok1 {
        width: 432px;
        margin-bottom: 70.9px;
    }
}
@media (max-width:577px) {
    .second_block{
        margin-top: -91px;
    }
}
@media (max-width:455px){
    .name_blok1{
        width: 355px;
        font-size: 19px;
    }
}
